.card{
    border-radius: 5px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.05);
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    width: 200px;
    text-align: center;
    height: 250px;
    margin-top: 50px;
    margin-right: 30px;
    vertical-align: top;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out, margin-top 0.4s ease-in-out;
}
.card-central{
    width: 500px;
    height: 300px;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 50px;
}
.cardsWrapper{
    width: 99999px;
    position: absolute;
    transition: left 0.4s ease-in-out;
}
.sliderWrapper{
    text-align: left;
    position: relative;
}
.rightArrow{
    top: 220px;
    left: 1215px;
    width: 80px;
    position: absolute;
}
.leftArrow{
    top: 220px;
    left: 630px;
    width: 80px;
    position: absolute;
    transform-origin: 50% 50%;
    transform: rotate(180deg);
}
.topComparisonButton{
    position: absolute;
    width: 400px;
    left: calc(50vw - 200px);
    top: 0;
}
.bottomComparisonButton{
    position: absolute;
    width: 400px;
    left: calc(50vw - 200px);
    bottom: 0;
}
.SliderBigWrapper{
    overflow: hidden;
    width: 100%;
    height: 460px;
    position: relative;
}
.SlidersContainer{
    textAlign: center;
    position: absolute;
    transition: top 0.4s ease-in-out;
}